header {
    width: 100%;
    position: fixed;
}

h1 {
    font-size: 50px;
    padding: 20px;
}

p {
    width: 500px;
    padding: 0px 20px 20px 20px;
}

ul {
    display: flex;
    list-style-type: none;
    overflow: hidden;
    padding: 0px;
    margin: 0px;
}

#top-header {
    height: 26px;
    background-color: #29d1b0;
}

#social-media {
    float: right;
}

#social-media a:link, #social-media a:visited {
    color: black;
    text-align: center;
    text-decoration: none;
    height: 100%;
    display: block;
}

#social-media a:hover, #social-media a:active {
    background-color: #25BA9C;
}

#social-media a img {
    width: 20px;
    padding: 1.5px 10px;
}

#social-media a div {
    font-size: 20px;
    padding: 1.5px 10px;
}

#container-header {
    width: 100%;
    background-color: white;
    border-radius: 0px 0px 10px 10px;
    box-shadow: 0px 2px 2px rgba(0,0,0,0.1);
    display: flex;
}

#icon, #icon:visited {
    text-decoration: none;
    display: inline-flex;
}

#icon img {
    width: 40px;
    padding: 5px 5px 5px 10px;
}

#icon div {
    color: black;
    font-size: 40px;
    padding: 5px 0px 5px 0px;
    font-style: italic;
}

#container-options {
    margin-left: auto;
    display: inline-flex;
}

#container-options li a:link, #container-options li a:active {
    color: black;
    padding: 14px 0px;
    font-size: 22px;
    text-align: center;
    text-decoration: none;
    width: 150px;
    display: block;
}

#container-options li a:hover, #container-options li a:visited {
    color: black;
    background-color: #EDEDED;
}

#container-options li .final:hover, #container-options li .final:visited {
    border-radius: 0px 0px 10px 0px;
}

#main-area {
    padding-top: 76px;
}

