<footer class="py-3 my-3 footer-main align-bottom">
    <div class="container-fluid d-flex justify-content-between footer-sec-1">
        <div class="col d-none d-md-block">
            <a class="navbar-brand logo" [routerLink]="['/inicio']">
                <img src="../assets/img/running.svg" alt="Logo" width="32">
                <div class="title">SmartNutrition</div>
                <div class="title-collapsed">SN</div>
            </a>
            <p>Web con la que podras organizarte cuando empieces a llevar tu vida de forma saludable.</p>
        </div>

        <div class="col-perso justify-content-end">
            <h6>Compañia</h6>
            <ul class="nav flex-column">
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0">Sobre Nosotros</a></li>
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0">Contactanos</a></li>
            </ul>
        </div>
    </div>
    <div class="container-fluid d-flex justify-content-between footer-sec-2 my-4">
        <span class="d-none d-md-flex">&copy; SmartNutrition, Inc. 2022</span>
        <div class="social-media d-flex">
            <p class="d-none d-md-flex">Siguenos en:</p>

            <ul class="nav d-flex">
                <li class="ms-3"><a href="#"><img src="../assets/img/Instagram.svg" alt="Instagram" width="24"></a></li>
                <li class="ms-3"><a href="#"><img src="../assets/img/Facebook.svg" alt="Facebook" width="24"></a></li>
                <li class="ms-3"><a href="#"><img src="../assets//img/Twitter.svg" alt="Twitter" width="24"></a></li>
            </ul>
        </div>
    </div>
</footer>