<div class="registro">
    <form>
        <h2>Bienvenido de vuelta</h2>
        
         <div class="mb-3">
            <label for="Email" class="form-label"><b>E-mail</b></label>
            <input type="email" class="form-control" placeholder="Ingresa tu E-mail" id="Email" aria-describedby="emailHelp">
        </div>
        <div class="mb-3">
            <label for="Password" class="form-label"><b>Contraseña</b></label>
            <input type="text" class="form-control" placeholder="Ingresa tu Contraseña" id="Password">
        </div>
        
        <button type="submit" class="btn btn-primary">Iniciar Sesión</button>

        <div class="mb-3">
            <h6>o inicia sesión con</h6>
            <button type="button" class="Facebook"></button>
            <button type="button" class="Google"></button>

            <h6>¿No tienes una cuenta?<a href="../login" >Regístrate aquí</a></h6>
        </div>
    </form>
</div>
