.body-main
    height: 100vh

    .form
        h3
            text-align: center

        form
            margin-top: 40px

            .btn-register
                width: 100%
                margin-top: 50px
                padding: 12px
                background: #f5f5f5
                color: #1ec276
                border: 1px solid #1ec276
                transition: all 300ms

                &:hover
                    background: #1ec276
                    color: #f5f5f5

        
        .register-with
            text-align: center
            display: block
            margin-top: 20px
            margin-bottom: 10px
            color: #626262

        .register-with-btn
            display: flex

            .btn-social
                display: flex
                align-items: center
                justify-content: center
                width: 45%
                padding: 10px
                border-radius: 5px
                text-decoration: none
                transition: all 300ms
                cursor: pointer

                img
                    margin-right: 5px

            .btn-facebook
                color: #3b5998
                border: 1px solid #3b5998

            .btn-google
                margin-left: auto
                color: #FF6B00
                border: 1px solid #FF6B00

        .log-in
            margin-top: 15px
            text-align: center

            a
                color: #1ec276
                cursor: pointer
                transition: all 300ms

                &:hover
                    text-decoration: underline