
img
    max-width: 75% !important
    max-height: 700px !important


.carousel
    width: 90%
    margin: 0 auto

.carousel-item:hover
    opacity: 0.75

.carousel-caption
    left: auto !important
    right: 0 !important 
    padding: 15px
    text-align: center
    width: 25%
    float: right
    color: #333
    height: 100%
    justify-content: center
    flex-direction: column
    font-size: 1.2vw

@media only screen and (max-width: 767px)
    img 
        max-width: 100% !important
    
    
    