<div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"
            aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
            aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
            aria-label="Slide 3"></button>
    </div>

    <div class="carousel-inner">
        <div class="carousel-item active" data-bs-interval="5000">
            <a [routerLink]="['/ejercicios']">
                <img src="../../../assets/img/image_ejercicio.svg" class="d-block w-100" alt="...">
                <div class="carousel-caption d-none d-md-flex">
                    <p>Diseña tu agenda de ejercicios según tu conveniencia, o simplemente puedes escoger una rutina ya establecida, ¡la decisión es tuya!</p>
                </div>
            </a>
        </div>
        <div class="carousel-item" data-bs-interval="5000">
            <a [routerLink]="['/dietas']">
                <img src="../../../assets/img/dietas.svg" class="d-block w-100" alt="..." >
                <div class="carousel-caption d-none d-md-flex">
                    <p>Some representative placeholder content for the third slide.</p>
                </div>
            </a>
        </div>
        <div class="carousel-item" data-bs-interval="5000">
            <a [routerLink]="['/tienda']">
                <img src="../../../assets/img/proteina.svg" class="d-block w-100" alt="...">
                <div class="carousel-caption d-none d-md-flex">                   
                    <p>Some representative placeholder content for the third slide.</p>
                </div>
            </a>
        </div>
    </div>

</div>