<app-header></app-header>

<div class="container-main body-main">
    <div class="categorias py-3">
        <h5>Categorías</h5>
        <ul class="list-unstyled ps-0">
            <li class="mb-1">
                <button class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse" data-bs-target="#chest-collapse" aria-expanded="false">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-caret-right" viewBox="0 0 16 16">
                        <path d="M6 12.796V3.204L11.481 8 6 12.796zm.659.753 5.48-4.796a1 1 0 0 0 0-1.506L6.66 2.451C6.011 1.885 5 2.345 5 3.204v9.592a1 1 0 0 0 1.659.753z"/>
                    </svg>
                    Pecho
                </button>
                <div class="collapse" id="chest-collapse">
                    <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                        <li><a class="link-dark rounded" [routerLink]="['/ejercicios/pecho/principiante']">Principiante</a></li>
                        <li><a class="link-dark rounded" [routerLink]="['/ejercicios/pecho/intermedio']">Intermedio</a></li>
                        <li><a class="link-dark rounded" [routerLink]="['/ejercicios/pecho/avanzado']">Avanzado</a></li>
                    </ul>
                </div>
            </li>
            <li class="mb-1">
                <button class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse" data-bs-target="#back-collapse" aria-expanded="false">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-caret-right" viewBox="0 0 16 16">
                        <path d="M6 12.796V3.204L11.481 8 6 12.796zm.659.753 5.48-4.796a1 1 0 0 0 0-1.506L6.66 2.451C6.011 1.885 5 2.345 5 3.204v9.592a1 1 0 0 0 1.659.753z"/>
                    </svg>
                    Espalda
                </button>
                <div class="collapse" id="back-collapse">
                    <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                        <li><a class="link-dark rounded" [routerLink]="['/ejercicios/espalda/principiante']">Principiante</a></li>
                        <li><a class="link-dark rounded" [routerLink]="['/ejercicios/espalda/intermedio']">Intermedio</a></li>
                        <li><a class="link-dark rounded" [routerLink]="['/ejercicios/espalda/avanzado']">Avanzado</a></li>
                    </ul>
                </div>
            </li>
            <li class="mb-1">
                <button class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse" data-bs-target="#arms-collapse" aria-expanded="false">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-caret-right" viewBox="0 0 16 16">
                        <path d="M6 12.796V3.204L11.481 8 6 12.796zm.659.753 5.48-4.796a1 1 0 0 0 0-1.506L6.66 2.451C6.011 1.885 5 2.345 5 3.204v9.592a1 1 0 0 0 1.659.753z"/>
                    </svg>
                    Brazos
                </button>
                <div class="collapse" id="arms-collapse">
                    <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                        <li><a class="link-dark rounded" [routerLink]="['/ejercicios/brazos/principiante']">Principiante</a></li>
                        <li><a class="link-dark rounded" [routerLink]="['/ejercicios/brazos/intermedio']">Intermedio</a></li>
                        <li><a class="link-dark rounded" [routerLink]="['/ejercicios/brazos/avanzado']">Avanzado</a></li>
                    </ul>
                </div>
            </li>
            <li class="mb-1">
                <button class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse" data-bs-target="#legs-collapse" aria-expanded="false">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-caret-right" viewBox="0 0 16 16">
                        <path d="M6 12.796V3.204L11.481 8 6 12.796zm.659.753 5.48-4.796a1 1 0 0 0 0-1.506L6.66 2.451C6.011 1.885 5 2.345 5 3.204v9.592a1 1 0 0 0 1.659.753z"/>
                    </svg>
                    Piernas
                </button>
                <div class="collapse" id="legs-collapse">
                    <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                        <li><a class="link-dark rounded" [routerLink]="['/ejercicios/piernas/principiante']">Principiante</a></li>
                        <li><a class="link-dark rounded" [routerLink]="['/ejercicios/piernas/intermedio']">Intermedio</a></li>
                        <li><a class="link-dark rounded" [routerLink]="['/ejercicios/piernas/avanzado']">Avanzado</a></li>
                    </ul>
                </div>
            </li>
            <li class="mb-1">
                <button class="btn btn-toggle align-items-center rounded collapsed dlt-filter" [routerLink]="['/ejercicios']">
                    Eliminar Filtro
                </button>
            </li>
        </ul>
    </div>

    <div class="album py-5">
        <div class="container">
            <div class="row row-cols-sm-1 row-cols-md-2 row-cols-lg-3 g-3">
                <ng-container *ngFor="let training of trainings">

                    <a href="#">
                        <div class="col">
                            <div class="card shadow">
                                <div class="image">
                                    <img src="{{url + 'training/get-image/' + training.image}}" class="card-img-top" alt="...">
                                </div>
                                
                                <div class="card-body">
                                    <h5>{{training.name}}</h5>
                                    <p class="card-text">
                                        Dificultad: {{training.difficulty}}
                                    </p>
                                </div>
        
                                <p class="card-text-hover">Más información...</p>
                            </div>
                        </div>
                    </a>

                </ng-container>
            </div>
        </div>
    </div>
</div>

<app-footer></app-footer>