<div class="album py-5">
    <div class="categorias">
        <H3>Categorías</H3>
        <ul class="list-unstyled ps-0">

            <li class="mb-1">
                <button class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse"
                    data-bs-target="#home-collapse" aria-expanded="false">
                    <img src="../assets/img/Trainings/arrow.svg" class="flecha" alt="">
                    Pecho
                </button>
                <div class="collapse" id="home-collapse" style="">
                    <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                        <li><a href="#" class="link-dark rounded">Principiante</a></li>
                        <li><a href="#" class="link-dark rounded">Intermedio</a></li>
                        <li><a href="#" class="link-dark rounded">Avanzado</a></li>
                    </ul>
                </div>
            </li>
            <li class="mb-1">
                <button class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse"
                    data-bs-target="#espalda-collapse" aria-expanded="false">
                    <img src="../assets/img/Trainings/arrow.svg" class="flecha" alt="">
                    Espalda
                </button>
                <div class="collapse" id="espalda-collapse" style="">
                    <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                        <li><a href="#" class="link-dark rounded">Principiante</a></li>
                        <li><a href="#" class="link-dark rounded">Intermedio</a></li>
                        <li><a href="#" class="link-dark rounded">Avanzado</a></li>
                    </ul>
                </div>
            </li>
            <li class="mb-1">
                <button class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse"
                    data-bs-target="#orders-collapse" aria-expanded="false">
                    <img src="../assets/img/Trainings/arrow.svg" class="flecha" alt="">
                    Brazos
                </button>
                <div class="collapse" id="orders-collapse" style="">
                    <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                        <li><a href="#" class="link-dark rounded">Principiante</a></li>
                        <li><a href="#" class="link-dark rounded">Intermedio</a></li>
                        <li><a href="#" class="link-dark rounded">Avanzado</a></li>
                    </ul>
                </div>
            </li>

            <li class="mb-1">
                <button class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse"
                    data-bs-target="#account-collapse" aria-expanded="false">
                    <img src="../assets/img/Trainings/arrow.svg" class="flecha" alt="">
                    Piernas
                </button>
                <div class="collapse" id="account-collapse">
                    <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                        <li><a href="#" class="link-dark rounded">Principiante</a></li>
                        <li><a href="#" class="link-dark rounded">Intermedio</a></li>
                        <li><a href="#" class="link-dark rounded">Avanzado</a></li>
                    </ul>
                </div>
            </li>
            <li class="border-top my-3"></li>
        </ul>
    </div>
    <div class="container">

        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-3 g-3">
            <div class="col">
                <div class="card shadow">
                    <div class="imagen">
                        <img src="../assets/img/Trainings/Ejercicio1.jpg" class="card-img-top" alt="...">

                        <h5 class="encima">Ejercicio 1 </h5>

                    </div>

                    <div class="card-body">

                        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to
                            additional content. This content is a little bit longer.</p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card shadow">
                    <div class="imagen">
                        <img src="../assets/img/Trainings/Ejercicio1.jpg" class="card-img-top" alt="...">

                        <h5 class="encima">Ejercicio 2 </h5>

                    </div>

                    <div class="card-body">
                        <p class="card-text">This is a wider card with supporting</p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card shadow">
                    <div class="imagen">
                        <img src="../assets/img/Trainings/Ejercicio1.jpg" class="card-img-top" alt="...">

                        <h5 class="encima">Ejercicio 3 </h5>

                    </div>

                    <div class="card-body">
                        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to
                            additional content. This content is a little bit longer.</p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card shadow">
                    <div class="imagen">
                        <img src="../assets/img/Trainings/Ejercicio1.jpg" class="card-img-top" alt="...">

                        <h5 class="encima">Ejercicio 4 </h5>

                    </div>

                    <div class="card-body">
                        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to
                            additional content. This content is a little bit longer.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>