<div class="registro">
    <form>
        <h2>Regístrate</h2>
        <div class="mb-3">
            <label for="Usuario" class="form-label"><b>Nombre</b></label>
            <input type="text" class="form-control" placeholder="Ingresa tu Nombre" id="Usuario">
        </div>
         <div class="mb-3">
            <label for="Email" class="form-label"><b>E-mail</b></label>
            <input type="email" class="form-control" placeholder="Ingresa tu E-mail" id="Email" aria-describedby="emailHelp">
            <div id="emailHelp" class="form-text">No compartiremos tu correo con nadie.</div>
        </div>
        <div class="mb-3">
            <label for="Password" class="form-label"><b>Contraseña</b></label>
            <input type="text" class="form-control" placeholder="Ingresa tu Contraseña" id="Password">
        </div>
        <div class="mb-3">
            <label for="PasswordCheck" class="form-label"><b>Confirmar Contraseña</b></label>
            <input type="text" class="form-control" placeholder="Ingresa tu Contraseña" id="PasswordCheck">
        </div>
        <button type="submit" class="btn btn-primary">Registrarse</button>

        <div class="mb-3">
            <h6>o Registrate con</h6>
            <button type="button" class="Facebook"></button>
            <button type="button" class="Google"></button>
        </div>
    </form>
</div>