<div class="registro">
    <form>
        <h2>Regístrate</h2>
        <div class="mb-3">
            <label for="Usuario" class="form-label"><b>Nombre*</b></label>
            <input type="text" class="form-control" placeholder="Ingresa tu Nombre" id="Usuario">
        </div>
         <div class="mb-3">
            <label for="Email" class="form-label"><b>E-mail*</b></label>
            <input type="email" class="form-control" placeholder="Ingresa tu E-mail" id="Email" aria-describedby="emailHelp">
        </div>
        <div class="mb-3">
            <label for="Telefono" class="form-label"><b>Teléfono</b></label>
            <input type="tel" class="form-control" placeholder="Ingresa tu Teléfono" id="Telefono">
        </div>
        <div class="mb-3">
            <label for="Asunto" class="form-label"><b>Asunto</b></label>
            <input type="text" class="form-control" placeholder="Escribe el asunto del contacto" id="Asunto">
        </div>
        <div class="mb-3">
            <label for="Mensaje" class="form-label"><b>Mensaje</b></label>
            <textarea type="text" style="height: 134px;" maxlength="1000" class="form-control" placeholder="Mensaje" id="Mensaje"></textarea>
        </div>
        <button type="submit" class="btn btn-primary">Enviar</button>

    </form>
</div>