<app-header-secondary></app-header-secondary>

<div class="container-main body-main mb-5">
    <div class="form">
        <h3>{{title}}</h3>

        <form #contactForm="ngForm" (ngSubmit)="onSubmit(contactForm)" action="">
            <div class="mb-3">
                <label for="name">Nombre</label>
                <input type="text" class="form-control" name="name" #name="ngModel" [(ngModel)]="contactUser.name" placeholder="Nombre" required>
                <span class="form-error" *ngIf="name.touched && !name.valid">Nombre es obligatorio</span>
            </div>
            <div class="mb-3">
                <label for="email">E-mail</label>
                <input type="email" class="form-control" name="email" #email="ngModel" [(ngModel)]="contactUser.email" placeholder="E-mail" required>
                <span class="form-error" *ngIf="email.touched && !email.valid">E-mail es obligatorio</span>
            </div>
            <div class="mb-3">
                <label for="topic">Asunto</label>
                <input type="text" class="form-control" name="topic" #topic="ngModel" [(ngModel)]="contactUser.topic" placeholder="Asunto" required>
                <span class="form-error" *ngIf="topic.touched && !topic.valid">Asunto es obligatorio</span>
            </div>
            <div class="mb-3">
                <label for="message">Mensaje</label>
                <textarea type="text" class="form-control" name="message" #message="ngModel" [(ngModel)]="contactUser.message" placeholder="Mensaje"></textarea>
            </div>
            
            <input type="submit" value="Enviar" class="btn-enviar" [disabled]="!contactForm.form.valid">
        </form>
    </div>
</div>