<app-header></app-header>

<div class="container-main body-main">
    <h3>Exercitation veniam consequat sunt nostrud amet.</h3>
    <p>Exercitation veniam consequat sunt nostrud amet.</p>
    <div class="images-row">
        <img src="../../../assets/img/about_us/Rectangle 75.svg" alt="">
        <div class="images-column">
            <img src="../../../assets/img/about_us/Rectangle 77.svg" alt="">
            <img src="../../../assets/img/about_us/Rectangle 78.svg" alt="">
        </div>
        <img src="../../../assets/img/about_us/Rectangle 76.svg" alt="">
    </div>
    <h3>Nuestra Historia</h3>
    <p>Exercitation veniam consequat sunt nostrud amet.</p>
    <div class="image-main">
        <img src="../../../assets/img/about_us/Rectangle 79.svg" alt="">
    </div>
    <p class="content">
        Nulla Lorem mollit cupidatat irure. Laborum magna nulla 
        duis ullamco cillum dolor. Voluptate exercitation incididunt 
        aliquip deserunt reprehenderit elit laborum. Nulla Lorem mollit 
        cupidatat irure. Laborum magna nulla duis ullamco cillum dolor. 
        Voluptate exercitation incididunt aliquip deserunt reprehenderit 
        elit laborum. Nulla Lorem mollit cupidatat irure. Laborum magna 
        nulla duis ullamco cillum dolor. Voluptate exercitation 
        incididunt aliquip deserunt reprehenderit elit laborum. Nulla 
        Lorem mollit cupidatat irure. Laborum magna nulla duis ullamco 
        cillum dolor. Voluptate exercitation incididunt aliquip deserunt 
        reprehenderit elit laborum. 
    </p>
</div>

<app-footer></app-footer>