.info
    width: 60%
    margin: 0 auto
    margin-top: 2rem
    margin-bottom: 2rem

h1
    -webkit-box-reflect: 

.img1
    width: 80%
    width: 400px   
    float: right
    border-radius: 20px

.img2
    width: 80%
    width: 600px   
    float: left

.paragraph
    font-style: italic