<app-header></app-header>

<div class="container-main body-main">
    <nav>
        <ul class="nav justify-content-center">
            <li class="nav-item">
                <a class="nav-link" [ngClass]="{'active_': activo == 'no-vegan'}" (click)="alternar('no-vegan')">No Veganas</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" [ngClass]="{'active_': activo == 'vegan'}" (click)="alternar('vegan')">Veganas</a>
            </li>
            <!--
            <li class="nav-item">
                <a class="nav-link" [routerLink]="['/dietas/mis-dietas']" [routerLinkActive]="['active_']">Tus Dietas</a>
            </li>
            -->
        </ul>
    </nav>

    <div class="album py-3">
        <div class="container">            
            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 g-3" id="album-diets">

                <div class="col" [routerLink]="['/dieta/agregar-dieta']" *ngIf="addDiet">
                    <div class="card shadow">
                        <div class="card-body add-diet">
                            <img src="../assets/img/diets/plus-circle-dotted.svg" alt="Agregar una dieta">
                        </div>

                        <p class="card-text-hover">Agregar una dieta.</p>
                    </div>
                </div>

                <ng-container *ngFor="let diet of diets;">
                    
                    <div class="col" [routerLink]="['/dieta', diet._id]">
                        <div class="card shadow">
                            <div class="image">
                                <img src="{{url + 'diets/get-image/' + diet.image}}" class="card-img-top" alt="...">
                                <h5>{{diet.name}}</h5>
                            </div>
                            <div class="card-body">
                                <p class="card-text">
                                    {{diet.description}}
                                </p>
                            </div>
    
                            <p class="card-text-hover">Más información...</p>
                        </div>
                    </div>

                </ng-container>               
            </div>
        </div>
    </div>
</div>

<app-footer></app-footer>