<div class="contenedor">
    <nav>
        <ul class="nav justify-content-center">
            <li class="nav-item">
                <a class="nav-link active" href="#">Dietas No Veganas</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Dietas Veganas</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Tus Dietas</a>
            </li>
        </ul>
    </nav>
    <div class="album py-5">
        <div class="container">

            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 g-3">
                <div class="col">
                    <div class="card shadow">
                        <div class="imagen">
                            <img src="../assets/img/Diets/cetogenica.jpg" class="card-img-top" alt="...">
                            
                            <h5 class="encima">Cetogenea </h5>
                            
                        </div>
                        
                        <div class="card-body">
                            
                            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to
                                additional content. This content is a little bit longer.</p>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card shadow">
                        <div class="imagen">
                            <img src="../assets/img/Diets/cetogenica.jpg" class="card-img-top" alt="...">
                            
                            <h5 class="encima">Cetogenea </h5>
                            
                        </div>

                        <div class="card-body">
                            <p class="card-text">This is a wider card with supporting</p>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card shadow">
                        <div class="imagen">
                            <img src="../assets/img/Diets/cetogenica.jpg" class="card-img-top" alt="...">
                            
                            <h5 class="encima">Cetogenea </h5>
                            
                        </div>

                        <div class="card-body">
                            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to
                                additional content. This content is a little bit longer.</p>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card shadow">
                        <div class="imagen">
                            <img src="../assets/img/Diets/cetogenica.jpg" class="card-img-top" alt="...">
                            
                            <h5 class="encima">Cetogenea </h5>
                            
                        </div>

                        <div class="card-body">
                            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to
                                additional content. This content is a little bit longer.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>